{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'lb-modal-block'
]
%}

{% set modal_id = 'modal-' ~ configuration['block_revision_id'] %}

{{ attach_library('lb_modal/lb_modal') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>

  {{ title_prefix }}
  {{ title_suffix }}
  <div class="lb-modal-placeholder">Modal</div>
  <!-- Modal -->
  <div id="{{ modal_id }}" class="modal fade" tabindex="-1" {% if label %}aria-labelledby="{{ modal_id ~ '-title' }}"{% endif %} aria-hidden="true" data-modal-dismissible="{{ dismissible }}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% block content %}
          <div class="modal-body">
            <h2{{ title_attributes.setAttribute('id', modal_id ~ '-title') }}>{{ content.field_title }}</h2>
            {{ content.body }}
            {% if block_content.field_cta.uri %}
              <div class="field-item">
                <a href="{{ block_content.field_cta.0.url }}" class="btn btn-primary filled">
                  {{ block_content.field_cta.title }}
                </a>
              </div>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
